body{
    background-color:rgb(109, 191, 202);
}
h1{
    text-align: center;
    color:rgb(174, 0, 255);
}

p{
    font-size: 50px;
    text-align: center;
   
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
